*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

body{
    background-color: rgb(255, 196, 128);;
}
header{
    background-color: black;
}


.logo{
    width: 120px;
    height: 105px;
    padding-left: 10px;
    
}
.menu{
    background-color: black;
    color: beige;
    display: inline-block;
    padding: 35px 30px 30px 30px;
    text-decoration: none;    
}

.menu:hover{
    color: coral;
}

nav{
    display: flex;
    font-family:'Koulen', cursiva;;
    text-decoration: none;
    justify-content: left;
    margin-bottom: -10px;
    font-size: 23px;
}

.img{
    margin-top: -30px;
    margin-left: -10px;
    height: 100%;
    width: 100%;
    display: block;
}

/* ----main-index---- */

.set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.servicios1{
    display: flex;
    justify-content: center;
}

.servicios1 h4{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

h4:hover{
    color: rgb(255, 127, 80);
}

.titulo h2{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.grid div{
    background-color: gray ;
    padding: 5px;
    border: solid 1px black;
}

.grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 30px;
    justify-content: space-around;
    grid-row-gap: 100px;
}

/* -------footer------- */

footer{
    background-color: black;
    color: beige;

}

footer h3{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.redes li{
    display: flex;
    justify-content: center;
    color: beige;
}

.redes1{
    color: beige;
    text-decoration: none;
}

.redes1:hover{
    color: coral;
}

/* -----main-mates----- */

.mates{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.div-mates{
    display: inline-block;
    padding-bottom: 50px;
    

}
.tiposdemate{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:black;
}

.tiposdemate:hover{
    color: coral;
}

.grid2 div{
    background-color: gray ;
    padding: 5px;
    border: solid 1px black;
}

.grid2{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 30px;
    justify-content: space-around;
    grid-row-gap: 100px;
}

/* -----main-termos----- */

.termos{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.div-termos{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.tiposdetermo{
    display: flex;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    justify-content: center;
}

.tiposdetermo:hover{
    color:rgb(255, 127, 80)
}

.grid3 div{
    background-color: gray ;
    padding: 5px;
    border: solid 1px black;
}

.grid3{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 30px;
    justify-content: space-around;
    grid-row-gap: 100px;
}

/* -----main-bombillas----- */

.bombillas{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.tiposdebombillas{
    display: flex;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    justify-content: center;
}

.tiposdebombillas:hover{
    color:rgb(255, 127, 80)
}

.grid4 div{
    background-color: gray ;
    padding: 5px;
    border: solid 1px black;
}

.grid4{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 30px;
    justify-content: space-around;
    grid-row-gap: 100px;
}

/* ------main-quienessomos------ */

.escribinos{
    display: flex;
    margin: 20px;
}

.nym{
    padding-right: 50px;
}

.correo{
    padding-right: 50px;
}

.formulario{
    padding-bottom: 110px;
}